<div class="flex justify-center pt-8">
  <%= button_to("Sign in", "/auth/google_oauth2", class: "mb-2 inline-flex items-center rounded border border-transparent bg-indigo-600 px-2.5 py-1.5 text-xl font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2", method: :post, data: {turbo: false}) %>
</div>