<div id="js-flash-messages-container" aria-live="assertive" class="fixed inset-0 z-50 flex items-end px-4 py-6 pointer-events-none sm:p-6">
  <div id="flash-messages" class="flash-messages w-full flex flex-col items-center space-y-4 sm:items-end">
    <% each_flash_with_unique_index do |type, message, index| %>
      <%= render partial: "shared/flash_message", locals: {type: type, message: message, index: index} %>
      <%= javascript_tag flash_auto_hide_script(index) %>
    <% end %>
    <%= render partial: "shared/flash_message", locals: {type: "notice", message: "", index: "notice"} %>
    <%= render partial: "shared/flash_message", locals: {type: "alert", message: "", index: "alert"} %>
  </div>
</div>